/* 
    1. Vi tri
    2. Kich thuoc
    3. Mau sac
    4. Hinh dang(font chu, hinh tron, hinh vuong nhu the nao??)
*/

/* 
    1. Tu ngoai vao trong
    2. Tu tren xuong duoi
    3. Tu tong quan den chi tiet
*/


/* Reset CSS */
* {
    /* Emmet */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

#main {

}

#header {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.99);
    /* Khi co position thi layout se duoc noi len */
    position: fixed;
    width: 100%;
    top: 0;

    /* Hoac la */
    /* top: 0;
    left: 0;
    right: 0; */

    /* 
    display: flex;
    justify-content: space-between; */
    z-index: 10;
}

#nav {
    /* bỏ khoảng trắng giữa các navigation */
    word-spacing: -4px;
    display: inline-block;
}

#nav, .subnav {
    list-style: none;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 22px;
    padding: 8px;
    min-width: 160px;
}

#nav li:hover .subnav {
    display: block;
} 

#nav > li:hover > a,
#nav .subnav li:hover {
    background-color: #ccc;
    color: #000;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav li a {
    text-decoration: none;
    line-height: 50px;
    padding: 0 24px;
    display: block;
}

/* con trực tiếp */
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

.fa-solid{
    padding: 0 0 0 4px;
}

#header .search-btn{
    float: right;
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.6);
}

#header .search-icon {
    color: #fff;
    font-size: 16px;
    line-height: 50px;
    padding: 0 18px;
}

#slider {
    margin-top: 50px;
    /* Bang 50% chieu ngang cua chinh no */
    padding-top: 50%;

    background: url('/assets/img/slider/chicago.jpg') top center / cover no-repeat;
    position: relative;
}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
}

#slider .text-heading {
    margin: 10px 0;
}

#slider .text-description {
    margin: 15px 0;
}


#content {

}

#content .content-section {
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
    max-width: 800px;
}

#content .section-heading {
    text-align: center;
    margin: 10px 0;
    letter-spacing: 4px;
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
}

#content .section-sub-heading {
    text-align: center;
    margin: 15px 0;
    opacity: 0.8;
    font-style: italic;
    font-size: 15px;
}


#content .about-text {
    text-align: justify;
    margin: 15px 0;
}

#content .members-list {
    /* display: inline-block;
    padding: 36px 0;
    width: 100%; */

    /* hoac la */
    padding: 36px 0;
    overflow: hidden;

}

#content .member-item {
    float: left;
    width: 33.33333%;
    text-align: center;
}

#content .member-name {
    font-size: 15px;
    margin: 15px 0;
}

#content .member-img {
    width: 50%;
    border-radius: 4px;
}

/* Begin: Tour section */

#content .tour-section {
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
    margin-top: 30px;
}

.tickets-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ccc;
    color: #757575;
    list-style: none;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    margin-left: 16px;
    padding: 4px 8px;
}

.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    margin-right: 16px;
    margin-top: -3px;
    color: #fff;
    background-color: #000;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
}

.tour-section .place-list {
    margin: 32px -8px 0 -8px;
    padding-bottom: 32px;
}

.tour-section .place-item {
    float: left;
    width: 33.33333%;
    padding: 0 8px;
}

.tour-section .place-img {
    width: 100%;
    display: block;
}

.tour-section .place-img:hover {
    opacity: 0.6;
}

.tour-section .place-content {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.tour-section .place-heading {
    font-size: 15px;
    font-weight: 550;
}

.tour-section .place-time {
    margin: 15px 0;
    color: #757575;
}

.tour-section .place-desc {
    margin: 15px 0;
    line-height: 1.4;
}

.tour-section .place-by-btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    /* margin: 15px 0; */
    padding: 8px 16px;
    display: inline-block;
}

.tour-section .place-by-btn:hover {
    opacity: 0.6;
}


/* End: Tour section */



#footer {

}

